MYSQL_DATABASE=interview_ai
MYSQL_USER=interview_ai
MYSQL_PASSWORD=<LOCAL_MYSQL_PASSWORD>
MYSQL_ROOT_PASSWORD=<LOCAL_MYSQL_ROOT_PASSWORD>
MYSQL_PORT=3308
TZ=Asia/Seoul

QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334